h1{
  text-align: center;
  font-style: inherit;
}
h2{
  margin-top: 20px;
}

img{
  width: 400px;
  height: 250px;
  border-radius: 200px;
  display:block;
  margin:auto;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
td {
  font-style: bold;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

body {
    background-image: url("pexels-martin-péchy-304664.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    align-items: center;
}
#portfolio {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}